@tailwind base;
@tailwind components;
@tailwind utilities;


/* @page { size: A4 landscape;  } */
@media print {
  body {
    -webkit-print-color-adjust: exact; /* Chrome */
    print-color-adjust: exact;         /* Firefox */
  }

  .print-area {
    background-color: #a8a8a8 !important;
    /* color: black !important; */
  }
}

.modern-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.modern-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.modern-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 255, 0.4);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.2s ease-in-out;
}

.modern-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 255, 0.6);
}

.sub-heading {
    @apply px-2 py-1 mb-2 text-xl font-bold uppercase bg-stone-200 ;
}

li{
    @apply text-[1.05rem] list-none leading-6 indent-8 font-medium;
}

@layer base {img {display: initial;}
}

.scroll-width-thin {
    scrollbar-width: thin;
}
@layer components {
    .feeling-press {
        @apply cursor-pointer active:scale-95 transition-all duration-200 ease-in-out;
    }
    .highlight-red {
        @apply text-red-500 font-bold;
    }
}