@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
  body {
    -webkit-print-color-adjust: exact; /* Chrome */
    print-color-adjust: exact;         /* Firefox */
  }

  .print-area {
    background-color: #a8a8a8 !important;
    /* color: black !important; */
  }
}

.sub-heading {
    @apply px-2 py-1 mb-2 text-xl font-bold uppercase bg-stone-200 ;
}

li{
    @apply text-[1.05rem] list-none leading-6 indent-8 font-medium;
}

@layer base {img {display: initial;}
}

.scroll-width-thin {
    scrollbar-width: thin;
}
@layer components {
    .feeling-press {
        @apply cursor-pointer active:scale-95 transition-all duration-200 ease-in-out;
    }
    .highlight-red {
        @apply text-red-500 font-bold;
    }
}